.buttons__container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.table__container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.button__box {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.select {
  background-color: red;
}

.event_attrs {
  color: #26a69a;
  font-weight: bold;
  font-size: large;
}
